a {
	text-decoration: none
}
.archymap-zone {
 padding:10px;
 text-align:center;
 height:calc(100vh - 160px);
 position:relative;
 overflow:hidden;
 width:100%;
 margin:auto
}
.archymap-container {
 flex-grow:1;
 justify-content:center;
 height:100%;
 position:relative;
 overflow:auto;
 width:100%;
 padding:25px 0 60px
}
.basic-style {
 background-color:#EFE6E2
}
.basic-style>h1 {
 color:#ac2222
}
.simple-card.new-span {
 background:0 0;
 border-color:rgba(34,145,226,1)
}
.simple-card.new-span p {
 color:rgba(34,145,226,1)
}
.simple-card p {
 color:#333;
 display:block;
 width:100%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 vertical-align:middle;
 font:13px/22px CircularStd_Bold,sans-serif;
 margin:0
}
.archymap-zoom li a,.simple-card {
 font-size:18px;
 text-align:center
}
.archymap-zoom {
 position:fixed;
 z-index:1;
 bottom:20px;
 right:20px;
 border-radius:30px;
 background-color:#9ba5b0;
 padding:9.5px 15px
}
.archymap-zoom ul {
	padding:0;
	margin:0;
}
.archymap-zoom ul li {
	display: inline-block;
	list-style: none;
}
.archymap-zoom li a {
 line-height:16px;
 width:30px;
 display:inline-block;
 color:#fff;
 vertical-align:-2px
}
.archymap-zoom li {
 padding:0;
 color:#fff;
 font-size:13px
}
.archymap-level-1 p {
 color:#fff
}
.simple-card {
 position:relative;
 margin:0;
 padding:12px 34px;
 cursor:text;
 border:1px solid #9ba5b0;
 background-color:#fff;
 max-width:300px;
 box-shadow:0 2px 10px rgba(39,39,39,.2);
 border-radius:3px;
 min-width:180px
}
.archymap-loader,.archymap-loader span {
 position:absolute;
 left:0;
 bottom:0;
 right:0;
 margin:auto
}
.archymap-loader {
 background:rgba(0,0,0,.5);
 height:100%;
 width:100%;
 z-index:1;
 display:none;
 top:200px
}
.archymap-loader span {
 top:230px;
 font-weight:700;
 color:#fff
}
.archymap-drop,.archymap-options {
 position:absolute;
 top:50%;
 visibility:hidden;
 opacity:0;
 display:block;
 transition:opacity .3s ease-in-out
}
.archymap-drop {
 left:10px;
 padding:10px 2px;
 border-radius:5px;
 color:#242e4d;
 line-height:1.4;
 font-size:16px;
 width:auto;
 margin-top:-19px
}
.archymap-view-parent span {
 font-weight:700;
 color:#FFF;
 white-space:nowrap;
 font-size:14px
}
.archymap-view-parent.first span {
 font-size:16px;
 padding:13px 45px
}
.archymap-options {
 right:10px;
 font-size:12px;
 margin-top:-8px
}
.archymap-drop:hover .archymap-options,.layer-simple-card:hover .archymap-options,.layer-simple-card:hover .ste-hover,p[contenteditable=true]:focus~.ste-hover {
 visibility:visible;
 opacity:1
}
.archymap-options .options-control {
 line-height:1.4;
 font-size:16px;
 width:auto
}
.archymap-wrapper {
 display:flex;
 padding:20px
}
.archymap-wrapper .archymap-view {
 display:flex;
 flex-direction:column;
 margin:auto
}
.archymap-wrapper .archymap-view .archymap-view-parent {
 margin-bottom:0;
 position:relative;
 display:flex;
 justify-content:center
}
.archymap-wrapper .archymap-view .archymap-view-parent:after {
 position:absolute;
 content:'';
 width:2px;
 height:28px;
 top:28px;
 left:50%;
 background-color:#303231;
 transform:translateY(100%)
}
.archymap-view-parent.first:after {
 top:25px!important;
 height:23px!important;
 background:0 0!important
}
.archymap-wrapper .archymap-view .archymap-view-children {
 display:flex;
 justify-content:center
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child {
 padding:0;
 position:relative
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:after,.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:before {
 content:'';
 position:absolute;
 background-color:#303231;
 left:0
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child.alone-parent:before {
 background:0 0!important
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:before {
 left:50%;
 top:8px;
 transform:translateY(-100%);
 width:2px;
 height:17px
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:after {
 top:-9px;
 height:2px;
 width:100%
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:first-child:after {
 left:50%;
 width:50%
}
.archymap-wrapper .archymap-view .archymap-view-children .archymap-view-child:last-child:after {
 width:calc(50% + 1px)
}
.alone-child::after,.span-parent::after {
 background-color:transparent!important
}
.simple-card.has-error {
 background:#DE5454
}
.layer-simple-card {
 padding:7px 25px 25px;
 margin:0 0 11px
}
.archymap-add-element {
 position:absolute;
 background:#fff;
 color:#303231;
 font-size:10px;
 z-index:10;
 transition:all .2s ease-in-out;
 border-radius:3px;
 border:1px solid #888;
}
.archymap-add-element.left {
 left:-33px
}
.archymap-add-element.right {
 right:-33px
}
.archymap-add-element.left,.archymap-add-element.right {
 top:50%;
 padding:10px 3px;
 width:17px;
 max-height:47px;
 margin-top:-23px;
 visibility:hidden;
 opacity:0;
 display:block
}
.archymap-add-element.bottom {
 padding:5px;
 opacity:0;
 display:block;
 visibility:hidden
}
.archymap-add-element.left i,.archymap-add-element.right i {
 display:block;
 line-height:2.5
}
.archymap-add-element.bottom {
 bottom:-33px;
 left:0;
 width:95%
}
.archymap-card-status {
 background-color:#f27935;
 padding:6px;
 border-radius:10px;
 border:1px solid #fff;
 position:absolute;
 top:-8px;
 right:-6px;
 font-size:14px
}
.archymap-card-status.archymap-status-danger {
 background-color:#fff;
 color:#ac4849;
 font-size:18px;
 border:none;
 padding:0
}
.archymap-view p[contenteditable=true]:empty:before {
 content:attr(placeholder);
 display:block;
 color:#F35958
}
.archymap-view p[contenteditable=true].new-span:empty:focus:before {
 content:attr(placeholder);
 display:block;
 color:#fff
}
.archymap-level-1 {
 background-color:#555;
 border-color:#ccc
}
.archymap-level-2 {
 background-color:#ddc79e
}
.archymap-level-3 {
 background-color:#d7e5cb
}
.archymap-level-4 {
 background-color:#cbdcea
}
.archymap-level-5 {
 background-color:#bde9f1
}
.archymap-level-6 {
 background-color:#cbccea
}
.archymap-level-7 {
 background-color:#c9d3dc
}
.archymap-level-8 {
 background-color:#a3c8e8
}
.archymap-level-9 {
 background-color:#cddeec
}
.archymap-level-10 {
 background-color:#b1dcff
}
.archymap-level-11 {
 background-color:#90deef
}
.archymap-level-12 {
 background-color:#c9d3dc
}
.layer-simple-card .archymap-level-2:hover {
 border-color:#333
}
.archymap-level-1.empty,.archymap-level-10.empty,.archymap-level-2.empty,.archymap-level-3.empty,.archymap-level-4.empty,.archymap-level-5.empty,.archymap-level-6.empty,.archymap-level-7.empty,.archymap-level-8.empty,.archymap-level-9.empty {
 background-color:rgba(255,255,255,.5)
}
.archymap-view .options-control {
 color:#333
}
.archymap-level-1 .archymap-drop,.archymap-level-1 .options-control,.archymap-level-5 .archymap-drop,.archymap-level-5 .options-control,.archymap-level-9 .archymap-drop,.archymap-level-9 .options-control,.simple-focus.empty p {
 color:#fff
}
.simple-focus.empty {
 background-color:#EF7A79;
 border:1px solid #c7c7c7
}
.simple-card.empty {
 border:1px solid #D14645;
 color:#F35958
}
.simple-focus {
 background-color:#777;
 border:1px dashed #c7c7c7
}
.simple-focus p {
 color:rgba(34,145,226,1)!important
}
@keyframes ellipsis {
 to {
  width:1.25em
 }
}
@-webkit-keyframes ellipsis {
 to {
  width:1.25em
 }
}